@import "../vars";
@import "../mixins";

html,body {
  height: auto;
  height: 100%;
}

.upper- { font-size: 80%; top: -.45em; position: relative; }
.usn * {
  @include userSelect(none);
}
body
{
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  font-weight: 400;
  min-width: $min_width;
  font-family: $base_font;
  color: $base_font_color;
  background: $page_background;
  font-size: $base_font_size;
  line-height: $base_line_height;

}

.ffm { font-family: 'Lobster', cursive; }

.page-body {
  position: relative; min-width: 991px; z-index: 2;
}
.page { min-width: $min_width; overflow: hidden; }
.base-width { max-width: $max_width; margin: 0 auto; padding: 0 30px; @include boxSizing('border-box'); }

h1 { font-size: 68px; margin: 0 0 9px; font-family: 'Lobster'; font-weight: normal; margin-left: -2px; text-align: center; line-height: 0.9; }
h3 { font-size: 38px; margin: -10px 0 16px; font-family: 'Lobster'; font-weight: normal; margin-left: -2px; line-height: 1; }
h2 { font-size: 60px; margin: -16px 0 16px; font-family: 'Lobster'; text-align: center;  line-height: 1; }

.content-block {
  p {
    line-height: 1.55; margin-top: -2px; margin-bottom: 1.65em;
    &.small-text { font-size: 13px; line-height: 1.45; margin-top: 0px; }
  }
}

.large-text {
  font-family: 'Lobster'; font-size: 25px; line-height: 1.6em; line-height: 1.15em;
  padding-bottom: 1.65em;
}

.main-content-wrapper {
  padding: 30px 0; min-height: 400px;
}