.page-cover.js-page-cover.active
.eighteen-popup.js-eighteen-popup.active
  .text You have reached 18 years old?
  .submit-row
    %a.button.js-eighteen-no.btn-cancel.fl{:href => 'http://google.com'} no
    %a.button.js-eighteen-yes.btn-confirm.fr{:href => '#'} yes
