.main-content-wrapper
  .main-content.base-width
    .container-16.clearfix
      .gallery.grid-16
        .paginate= will_paginate @gallery_items

        %ul.gallery-list
          - @gallery_items.each do |item|
            - next unless item.gallery_item_image.present?
            %li.gallery-item
              .gallery-item-top
                %a.fancybox.img-cell{href: item.gallery_item_image.url(:main_image), rel: 'girls'}
                  %img{src: item.gallery_item_image.url(:small)}
              .gallery-item-bottom
                .item-description= item.title
          - 5.times do
            %li.gallery-item.dummy

        .paginate= will_paginate @gallery_items
