.main-content-wrapper
  .main-content.base-width
    .container-16.clearfix
      - @categories.in_groups(2, false) do |group|
        .grid-3
          %ul.category-nav
            - group.each do |category|
              %li.category-nav-item
                %a.ffm.blue-link{href: gallery_url(category.id)}= category.title

      - @girls.in_groups(3, false) do |group|
        .grid-3
          %ul.category-nav
            - group.each do |girl|
              %li.category-nav-item
                %a.ffm.blue-link{href: girl_url(girl.id)}= girl.name
                %span.count= girl.gallery_items.count

