.main-content-wrapper
  .main-content.base-width
    .container-16.clearfix

      .grid-16.alpha.omega
        .paginate= will_paginate @gallery_items
        %ul.girls-list
          - @girls.each do |girl|
            %li.girls-list-item
              .gl-top
                %a.girl-photo{href: girl_url(girl.id)}
                  %img{src: girl.gallery_items.first.gallery_item_image.url(:small)}
              .title
                %a.ffm.blue-link{href: girl_url(girl.id_with_slug)}= girl.name
              .tac.count
                photos:
                %span= girl.photos_count
        .paginate= will_paginate @gallery_items